{
  "printWidth" : 80,
  "tabWidth" : 2,
  "useTabs" : false,
  "semi" : true,
  "singleQuote" : true,
  "quoteProps" : "preserve",
  "bracketSpacing" : false,
  "trailingComma" : "all",
  "arrowParens" : "always",
  "embeddedLanguageFormatting" : "off",
  "bracketSameLine" : true,
  "singleAttributePerLine" : false,
  "htmlWhitespaceSensitivity" : "strict",
  "plugins": ["prettier-plugin-organize-imports"],
}
